<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util.xsd 
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- cache configuration -->
	<import resource="cache-context.xml" />

	<!-- activate annotations in beans already registered in the application 
		context -->
	<context:annotation-config />
	
	<!-- scans packages to find and register beans within the application context -->
	<context:component-scan base-package="pl.spring.demo" />

	<!-- enable @AspectJ support for XML configuration -->
	<aop:aspectj-autoproxy />

	<!-- reads configuration file from location -->
	<!-- in this case it's just application name -->
	<util:properties id="applicationProperties"
		location="classpath:config/application.properties" />

</beans>